@import url('https://fonts.googleapis.com/css?family=Anybody');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Mulish');




/* Mulish  Anybody  Montserrat  Cormorant+Garamond EB+Garamond*/
.mainArea {
    color: white;
    margin: auto;
    min-height: 100px;
    position: fixed;
    /* top: calc(50% - 208px); */
    top: 20%;
    width: 86%;
    height: 60%;
    left: 15%;
    font-family: 'Mulish';
    font-size: 2vw;
    z-index: 20;
    width: 70%;
    overflow: auto;
    z-index: 20;
}

.mainAreaSetUp {
    color: white;
    margin: auto;
    min-height: 100px;
    position: fixed;
    /* top: calc(50% - 208px); */
    top: 20%;
    width: 86%;
    height: 60%;
    left: 15%;
    font-family: 'Mulish';
    font-size: 2vw;
    z-index: 20;
    width: 70%;
    overflow: auto;
    z-index: 30;
    display: none;
}

.ticTacToeTitle {
    height: 20%;
    width: 100%;
    z-index: 21;
    text-align: center;
}
.resetButton{
    color: white;
    background-color: transparent;
    padding: 10px;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}
.resetButton:hover {
    color: rgb(203, 203, 203);
}
.resetButton:active {
    color: black;
    background-color: white;
}
.ticTacToeArea {
    height: 80%;
    width: 100%;
    z-index: 21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticTacToeBoardArea {
    height: 250px;
    width: 250px;
    margin: auto;
    position: relative;
    display: block;

}

