@import url('https://fonts.googleapis.com/css?family=Anybody');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Mulish');




/* Mulish  Anybody  Montserrat  Cormorant+Garamond EB+Garamond*/
.mainArea {
    color: white;
    margin: auto;
    min-height: 100px;
    position: fixed;
    /* top: calc(50% - 208px); */
    top: 20%;
    width: 86%;
    height: 60%;
    left: 15%;
    font-family: 'Mulish';
    font-size: 2vw;
    z-index: 20;
    width: 70%;
    overflow: auto;
    background-color: rgba(127, 255, 212, 0.546);
    z-index: 20;
}

.mainAreaSetUp {
    color: white;
    margin: auto;
    min-height: 100px;
    position: fixed;
    /* top: calc(50% - 208px); */
    top: 20%;
    width: 86%;
    height: 60%;
    left: 15%;
    font-family: 'Mulish';
    font-size: 2vw;
    z-index: 20;
    width: 70%;
    overflow: auto;
    background-color: rgba(165, 127, 255, 0.546);
    z-index: 30;
    display: none;
}

.ticTacToeTitle {
    background-color: lightcoral;
    height: 20%;
    width: 100%;
    z-index: 21;
}

.ticTacToeArea {
    background-color: lightblue;
    height: 80%;
    width: 100%;
    z-index: 21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticTacToeBoardArea {
    background-color: rgb(130, 212, 16);
    height: 250px;
    width: 250px;
    margin: auto;
    position: relative;
    display: block;

}

