.ticTacToeBoardLineV1 {
    left: 30%;
    background-color: black;
    height: 94%;
    width: 5%;
    position: absolute;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 5px;
    z-index: 25;
}

.ticTacToeBoardLineV1::before {

    position: absolute;
    top: -5px;
    left: -5px;
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}

.ticTacToeBoardLineV2 {
    right: 30%;
    position: absolute;
    background-color: black;
    height: 94%;
    width: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 5px;
}
.ticTacToeBoardLineV2::before {

    position: absolute;
    top: -5px;
    left: -5px;
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}
.ticTacToeBoardLineH1 {
    top: 30%;
    background-color: black;
    width: 94%;
    height: 5%;
    position: absolute;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 5px;
    z-index: 25;
}
.ticTacToeBoardLineH1::before {
    position: absolute;
    top: -5px;
    left: -5px;
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}

.ticTacToeBoardLineH2 {
    bottom: 30%;
    background-color: black;
    width: 94%;
    height: 5%;
    position: absolute;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 5px;
    z-index: 25;
}
.ticTacToeBoardLineH2::before {
position: absolute;
    top: -5px;
    left: -5px;
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}