
.ticTacToeBoardBox1{
    height:calc(30% - 5px);
    width: calc(30% - 5px);
    position: absolute;
    cursor: pointer;
}
.ticTacToeBoardBox2{
    position: absolute;
    left: 35%;
    height:calc(30% - 5px);
    width: calc(30% - 5px);
    cursor: pointer;
}

.ticTacToeBoardBox3{
    position: absolute;
    right: 0;
    height:calc(30% - 5px);
    width: 30%;
    cursor: pointer;
}
.ticTacToeBoardBox4{
    height:calc(30% - 5px);
    width: 30%;
    top: 35%;
    position: absolute;
    cursor: pointer;
}
.ticTacToeBoardBox5{
    position: absolute;
    left: 35%;
    top: 35%;
    height:calc(30% - 5px);
    width: calc(30% - 5px);
    cursor: pointer;
}
.ticTacToeBoardBox6{
    position: absolute;
    right: 0;
    top: 35%;
    height:calc(30% - 5px);
    width: 30%;
    cursor: pointer;
}
.ticTacToeBoardBox7{
    height:30%;
    width: calc(30% - 5px);
    bottom: 0;
    position: absolute;
    cursor: pointer;
}
.ticTacToeBoardBox8{
    position: absolute;
    left: 35%;
    bottom: 0;
    height:30%;
    width: calc(30% - 5px);
    cursor: pointer;
}
.ticTacToeBoardBox9{
    position: absolute;
    right: 0;
    bottom: 0;
    height:30%;
    width: 30%;
    cursor: pointer;
}
