.stoolCushion {
    background-color: rgb(252, 82, 82);
    position: fixed;
    height: 40px;
    width: 100px;
    bottom: 260px;
    right: 0;
    z-index: 17;
    border-radius: 5px 5px 5px 5px;
    /* border: 1px solid black; */
}
.stoolCushion::before {
    content: "";
    /* background-color: red; */
    background-image: linear-gradient(90deg, rgb(252, 82, 82), red);
    position: fixed;
    height: 40px;
    width: 95px;
    bottom: 260px;
    right: 0;
    border-radius: 5px 5px 5px 5px;
}
.stoolCushion::after {
    content: "";
    /* background-color: rgb(180, 1, 1); */
    background-image: linear-gradient(90deg, red,rgb(180, 1, 1));
    position: fixed;
    height: 40px;
    width: 25px;
    bottom: 260px;
    right: 0;
    border-radius: 5px 5px 5px 5px;
}
.stoolCushionBorder{
    border: 1px solid black;
    position: fixed;
    height: 40px;
    width: 100px;
    bottom: 260px;
    right: 0;
    z-index: 18;
    border-radius: 5px 5px 5px 5px;
}

.stoolSupport {
    background-color: rgb(157, 166, 180);
    position: fixed;
    height: 280px;
    width: 16px;
    bottom: 0px;
    right: 42px;
    z-index: 18;
    border-radius: 5px 5px 0px 0px;
    z-index: 16;
}
.stoolSupport::before {
    content: "";
    background-image: linear-gradient(90deg, rgb(157, 166, 180), rgb(109, 116, 127));
    position: fixed;
    height: 280px;
    width: 14px;
    bottom: 0px;
    right: 42px;
    border-radius: 5px 5px 0px 0px;
}
/* rgb(63, 66, 76) */
.stoolSupport::after {
    content: "";
    background-image: linear-gradient(90deg, rgb(120, 126, 138), rgb(75, 78, 90));
    position: fixed;
    height: 280px;
    width: 3px;
    bottom: 0px;
    right: 42px;
    border-radius: 5px 5px 0px 0px;
}
.stoolFeet {
    background-color: rgb(157, 166, 180);
    position: fixed;
    height: 10px;
    width: 100px;
    bottom: 120px;
    right: 0px;
    z-index: 18;
    border-radius: 5px 5px 5px 5px;
    z-index: 19;
}
.stoolFeet::before {
    content: "";
    background-image: linear-gradient(90deg, rgb(157, 166, 180), rgb(109, 116, 127));
    position: fixed;
    height: 10px;
    width: 70px;
    bottom: 120px;
    right: 20px;
    z-index: 18;
    border-radius: 5px 0px 0px 5px;
    z-index: 19;
}
.stoolFeet::after {
    content: "";
    background-image: linear-gradient(90deg, rgb(109, 116, 127), rgb(75, 78, 90));
    position: fixed;
    height: 10px;
    width: 20px;
    bottom: 120px;
    right: 0px;
    z-index: 18;
    border-radius: 0px 5px 5px 0px;
    z-index: 19;
}
.stoolFeetSupport {
    background-color: red;
}
.stoolBase {
    background-color: red;
}