@import url('https://fonts.googleapis.com/css?family=Raleway');

.swingBoard {
  animation: swinging-board 5s linear infinite;
  position: fixed;
  top: 10%;
  left: 10%;
}

.textGlow {
  color: rgb(81, 8, 8);
  border: 7px solid rgb(70, 70, 255);
  border-radius: 15px;
  padding: 5px;

  font-family: 'Raleway', sans-serif;
  font-size: 64px;
  letter-spacing: 10px;
  position: fixed;
  z-index: 10;
  top: 10%;
  left: 10%;

}

.text {
  color: rgba(255, 0, 8);
  border: 7px solid rgb(70, 70, 255);
  border-radius: 15px;
  padding: 5px;

  font-family: 'Raleway', sans-serif;
  font-size: 64px;
  letter-spacing: 10px;
  animation: text-flicker 3s linear infinite;
  position: fixed;
  z-index: 11;
  top: 10%;
  left: 10%;
  box-shadow: 4px 4px 80px 15px rgb(70, 70, 255);
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 10px rgba(242, 22, 22, 1);
  }

  2% {
    opacity: 1;
    text-shadow: 0px 0px 10px rgba(242, 22, 22, 1);
  }

  8% {
    opacity: 0.1;
    text-shadow: 0px 0px 10px rgba(242, 22, 22, 1);
  }

  9% {
    opacity: 1;
    text-shadow: 0px 0px 10px rgba(242, 22, 22, 1);
  }

  12% {
    opacity: 0.1;
    text-shadow: 0px 0px rgba(242, 22, 22, 1);
  }

  20% {
    opacity: 1;
    text-shadow: 0px 0px 10px rgba(242, 22, 22, 1)
  }

  25% {
    opacity: 0.3;
    text-shadow: 0px 0px 10px rgba(242, 22, 22, 1)
  }

  30% {
    opacity: 1;
    text-shadow: 0px 0px 10px rgba(242, 22, 22, 1)
  }

  70% {
    opacity: 0.7;
    text-shadow: 0px 0px 10px rgba(242, 22, 22, 1)
  }

  72% {
    opacity: 0.2;
    text-shadow: 0px 0px 10px rgba(242, 22, 22, 1)
  }

  77% {
    opacity: .9;
    text-shadow: 0px 0px 10px rgba(242, 22, 22, 1)
  }

  100% {
    opacity: .9;
    text-shadow: 0px 0px 10px rgba(242, 22, 22, 1)
  }
}

@keyframes swinging-board {

  0% {
    transform: rotate(30deg)
  }

  25% {
    transform: rotate(50deg)
  }

  50% {
    transform: rotate(60deg)
  }

  75% {
    transform: rotate(40deg)
  }

  100% {
    transform: rotate(30deg)
  }
}