.frontSign {
  position: fixed;
  bottom: 0%;
  left: ;
  background-color: white;
  color: black;
  height: 30;
  width: 10%;
  transform: skewX(15deg);
  z-index: 11;
}

.backSign {
  position: fixed;
  bottom: 0%;
  left: 0%;
  background-color: grey;
  color: black;
  height: 25%;
  width: 10%;
  transform: skewX(-15deg);
  z-index: 10;
}