@import url('https://fonts.googleapis.com/css?family=Overpass');

.frontSign {
  position: fixed;
  bottom: 0%;
  left: 104px;
  background-color: rgb(230, 158, 65);
  color: black;
  height: 250px;
  width: 160px;
  /* height: 25%;
  width: 10%; */
  transform: skewX(10deg);
  z-index: 11;
  border-radius: 5px 5px 0px 0px;
  /* border: 1px solid black; */
}
.frontSignBoard {
  position: fixed;
  /* bottom: 0%;
  left: 104px; */
  background-color: rgb(31, 31, 31);
  color: rgb(224, 223, 223);
  height: 220px;
  width: 130px;
  margin: 15px;
  padding: 1px;
  z-index: 12;
}
.languages {
  font-family: 'Overpass';
}
.backSign {
  position: fixed;
  bottom: 0%;
  left: 60px;
  background-color: rgb(87, 60, 24);
  color: black;
  height: 250px;
  width: 160px;
  /* height: 25%;
  width: 10%; */
  transform: skewX(-10deg);
  background-image: linear-gradient(60deg,rgb(87, 60, 24),rgb(0, 0, 0));
  z-index: 10;
  border-radius: 5px 5px 0px 0px;
}