@import url('https://fonts.googleapis.com/css?family=Anybody');

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: black;
  color:white;
}

.h1 {
  font-family: 'Anybody';
  font-size: 30px;
}
@keyframes testing {

  0%,
  50%,
  100% {
    width: 0;
  }

  60%,
  90% {
    width: 100%;
  }
}
.testingText{
  animation: testing;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 8s;
  animation-timing-function: steps(22, end);
  animation-iteration-count: infinite;
}
.testingText::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}
