@import url('https://fonts.googleapis.com/css?family=Anybody');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Mulish');

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        margin-top: 20%;
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        margin-top: 20%;
        display: contents;
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        margin-top: 0%;
        opacity: 1;
    }
}

.buttonPictureLeft,
.buttonPictureRight {
    position: absolute;
    background-color: transparent;
    color: white;
    border: 0px solid white;
    width: 80px;
    cursor: pointer;
}

.buttonPictureLeft:hover {
    background-color: rgba(0, 0, 0, 0.281);
}

.buttonPictureRight:hover {
    background-color: rgba(0, 0, 0, 0.281);
}

.pictureContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Mulish  Anybody  Montserrat  Cormorant+Garamond EB+Garamond*/
.mainText {
    margin: auto;
    min-height: 100px;
    position: fixed;
    /* top: 30%; */
    top: 27%;
    width: 86%;
    height: 50%;
    left: 15%;
    font-family: 'Mulish';
    font-size: 1.8vw;
    z-index: 20;
    width: 70%;
    overflow: auto;
}

.projectSelector {
    margin: auto;
    position: fixed;
    top: 18%;
    /* height: 12%; */
    height: 9%;
    left: 15%;
    z-index: 20;
    width: 70%;
}

.projectCycleRightContainer {
    margin: auto;
    position: fixed;
    top: 18%;
    height: 12%;
    left: 85%;
    z-index: 20;
    width: 5%;
}
.projectCycleNavigationButtonIcon{
    position: absolute;
    top: 0;
    left: 0;
}
.projectCycleNavigationButton {
    border: 3px solid white;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
}

.projectCycleNavigationButton:disabled {
    cursor: not-allowed;
}

.projectCycleLeftContainer {
    margin: auto;
    position: fixed;
    top: 18%;
    height: 12%;
    right: 85%;
    z-index: 20;
    width: 5%;
}

.projectSelectorName1,
.projectSelectorName2,
.projectSelectorName3 {
    width: 20%;
    position: absolute;
    text-align: center;
    font-family: 'Mulish';
}

.projectSelectorName1 {
    left: 0%;
}

.projectSelectorName2 {
    left: 40%;
}

.projectSelectorName3 {
    right: 0%;
}

.projectSelectorDateFront,
.projectSelectorDateLowerBorder {
    width: calc(100% + 4px);
    position: absolute;
    left: calc(0% - 2px);
    text-align: center;
    background-color: var(--projectSelectorDateColour);
    padding: 1%;
    cursor: pointer;
}

.projectSelectorDateFront {
    bottom: 15%;
    border: 2px solid var(--projectSelectorDateBorder);
    border-radius: var(--projectSelectorDateBorderRadius);
    color: white;
    height: 114%;
    z-index: 20;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms cubic-bezier(0, 0, 0.6, 1);
}

.projectSelectorDateLowerBorder {
    bottom: -8%;
    border: 2px solid white;
    border-top: 2px solid var(--projectSelectorDateShadow);
    border-radius: var(--projectSelectorDateBorderRadius);
    height: 100%;
    z-index: 20;

}

.projectSelectorDate1,
.projectSelectorDate2,
.projectSelectorDate3 {
    width: 20%;
    position: absolute;
    text-align: center;
    bottom: 10%;
    background-color: var(--projectSelectorDateShadow);
    border: 2px solid var(--projectSelectorDateShadow);
    padding: 1%;
    height: var(--projectSelectorDateHeight);
    cursor: pointer;
}

.projectSelectorDate1 {
    left: 0%;
}

.projectSelectorDate2 {
    left: 40%;
}

.projectSelectorDate3 {
    right: 0%;
}

.projectSelectorDate1:active .projectSelectorDateFront {
    bottom: -8%;
}

.projectSelectorDate2:active .projectSelectorDateFront {
    bottom: -8%;
}

.projectSelectorDate3:active .projectSelectorDateFront {
    bottom: -8%;
}